<html>
<head xmlns:th="http://www.thymeleaf.org">
<title>Temperature Chart</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>    
   <script src="https://code.highcharts.com/highcharts-more.js"></script>
   <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />   
   <script src="js/sockjs-0.3.4.js"></script>
   <script src="js/stomp.js"></script>
   
</head>
<body>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script language="JavaScript">
//<![CDATA[
$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

 	   var socket = new SockJS('/stomp');
 	   var newValue;
	   var stompClient = Stomp.over(socket);
	   var message;
	   stompClient.connect({ }, function(frame) {
	       // subscribe to the /topic/message endpoint
	       stompClient.subscribe("/topic/airquality/temperature", function(data) {
	    	   //alert("new value from server = "+data.body);
	           message = data.body;
	           newValue = JSON.stringify(data.body);
	           console.log("data = "+message);
	           newValue = parseInt(message);
	           console.log("newValue = "+newValue);
	       });
	   });	   
        
        Highcharts.chart('container', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = newValue;//Math.random();
                            series.addPoint([x, y], true, true);
                        }, 2000);
                    }
                }
            },
            title: {
                text: 'Live temperature feed'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#191970'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Temperature Data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 2000,
                            y: newValue//Math.random()
                        });
                    }
                    return data;
                }())
            }]
        });
    });
});
//]]>
</script>
</body>
</html>